*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', normal;
}

@font-face {
    font-family: 'Poppins', normal;
    src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
    font-family: normal;
    font-weight: normal;
}